:root{

background-color:#080808;
color:white;
font-family: sans-serif;
font-stretch: ultra-expanded;

}


li{

font-size:0.8cm;

}

h2{

font-size:1cm;

}

.btv{

    width: 100px;
    height: 55px;
    text-align: center;
    background-color: antiquewhite;
    top: 80%;
    border-radius: 25%;
    position: fixed;
    left: 90%;
}

}

.textb {

position: fixed;
text-align:center;
top:25%;


}
